 /* font */
  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Tourney';
    src: url('/fonts/Tourney-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @layer base{
  /* Typography */

  h1 {
    @apply text-[40px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  h2 {
    @apply text-[32px] font-bold tracking-[12%];
    font-family: 'Noto Sans', sans-serif;
  }

  .h2-2 {
    @apply text-[32px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  h3 {
    @apply text-[28px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  h4 {
    @apply text-[24px] font-bold tracking-[12%];
    font-family: 'Noto Sans', sans-serif;
  }

  .h4-2 {
    @apply text-[24px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .h4-3 {
    @apply text-[24px] font-normal;
    font-family: 'Noto Sans', sans-serif;
  }

  h5 {
    @apply text-[20px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  h6 {
    @apply text-[16px] font-normal;
    font-family: 'Noto Sans', sans-serif;
  }

  .text2 {
    @apply text-[32px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  .text3 {
    @apply text-[28px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  .text4 {
    @apply text-[24px] font-normal;
    font-family: 'Noto Sans', sans-serif;
  }

  .text5 {
    @apply text-[20px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  .text5-2 {
    @apply text-[20px] font-normal;
    font-family: 'Noto Sans', sans-serif;
  }

  .text6 {
    @apply text-[16px] font-bold;
    font-family: 'Noto Sans', sans-serif;
  }

  .text6-2 {
    @apply text-[16px] font-normal;
    font-family: 'Noto Sans', sans-serif;
  }

  .number-lg {

    @apply text-[72px] font-normal leading-[1.2];
    font-family: 'Tourney', sans-serif;

  }
 
  .number-sm {

    @apply text-[48px] font-normal leading-[1.2];
    font-family: 'Tourney', sans-serif;

  }


}
