@layer components {
  .nav-link {
    @apply relative inline-flex items-center justify-center cursor-pointer;
  }

  .nav-mark {
    /* 預設隱藏 (opacity-0)，設定灰色邊框 (border-gray-400) */
    @apply absolute w-2 h-2 border-primary-500 opacity-0 transition-opacity duration-200 pointer-events-none;
  }

  /* Hover 或 Active 時顯示 */
  .nav-link:hover .nav-mark,
  .nav-link:active .nav-mark {
    @apply opacity-100;
  }

  .tag {
    @apply py-1 px-3 bg-primary-200 text-primary-700 text-[16px] rounded-2xl
  }

  .title-button{
    @apply whitespace-nowrap p-1 text-primary-600 text-[16px] hover:text-primary-800 border-b-2 border-primary-50 hover:border-primary-800 active:border-primary-800;
  }

  .single-line-ellipsis {
  white-space: nowrap;       /* 不換行 */
  overflow: hidden;          /* 超出範圍隱藏 */
  text-overflow: ellipsis;   /* 顯示省略號 */
}

}