/* Colors */
@theme{
    --primary-50:#FFFFFF;
    --primary-100:#FAFAFA;
    --primary-200:#F1F1F1;
    --primary-300:#E9E9E9;
    --primary-400:#C1C1C1;
    --primary-500:#919191;
    --primary-600:#5B5B5B;
    --primary-700:#3B3B3B;
    --primary-800:#1E1E1E;
    --primary-900:#000000;
}


